.grid-container {
  display: grid;
  gap: 10px;
  text-align: center;
  grid-template-columns: 150px auto auto;
  grid-template-rows: 150px auto;
  grid-template-areas: "header nav" "main main" "main main" "footer footer";
}

.main, .form {
  display: flex;
  justify-content: center;
}

.nosotros, .cuidados {
  background: #fbb5bf;
}

.form {
  margin: 10px;
  padding: 10px;
  background: url(../images/portada1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.form .form_container {
  display: grid;
  grid-template-columns: 1fr;
  width: 30%;
  gap: 30px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0)), rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  border-radius: 32px;
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.form .form_container input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.form .form_container textarea {
  padding: 10px;
  width: 100%;
}
.form .form_container textarea:focus {
  background: radial-gradient(#fbb5bf, #fff);
  transition: all 0.5s;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .header_logo {
  transform: translate(1rem, 2rem);
}

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 3px dotted #eee;
}
.nav a {
  padding: 10px;
  color: #514f4f;
}
.nav a:hover {
  color: #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
}

.main {
  grid-area: main;
  padding: 10px;
  flex-direction: column;
}
.main .main_productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
}
.main .main_productos .prod {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.main .main_productos img {
  width: 300px;
}
@media screen and (max-width: 768px) {
  .main .main_productos {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .main .main_productos .prod {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main_text {
  display: flex;
  gap: 10px;
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.footer ul {
  list-style-type: none;
}
.footer .footer_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.footer .redes {
  font-size: 1rem;
  padding: 5px;
}
.footer .redes a {
  color: #514f4f;
}
.footer .redes a:hover {
  color: #2d2b2b;
}
.footer .redes .redes_text {
  font-size: 1.2rem;
}
.footer .footer_legal {
  padding: 10px 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.img_portada {
  margin: 10px;
  width: 100%;
  height: 100%;
}

.main_portada {
  display: flex;
  justify-content: center;
}

.portada {
  width: 80%;
  display: flex;
  justify-content: center;
}

.cuidados {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border-radius: 30px;
  text-align: center;
  margin-top: 5px;
}

.nosotros {
  border-radius: 30px;
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .grid_container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "header" "nav" "main" "footer";
  }
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header_logo {
    transform: translate(150px);
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .img_portada {
    width: 90%;
  }
  .main_text {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer_container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .form_container {
    min-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
