@import './grid';
@import './utilities/variables';
@import './utilities/maps';
@import './utilities/extend';
@import './utilities/mixin';
@import './components/formulario';
@import './layout/header';
@import './layout/nav';
@import './layout/main';
@import './layout/footer';




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}

a{
    text-decoration: none;
}


// ----------------Navegador---------------



.img_portada{
    margin: 10px;
    width: 100%;
    height: 100%;
}
.main_portada{
    display: flex;
    justify-content: center;
}
.portada{
    width: 80%;
    display: flex;
    justify-content: center;
    
}
.cuidados{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    @extend %color-primario;
    border-radius: 30px;
    text-align: center;
    margin-top: 5px;
}

.nosotros{
    @extend %color-primario;
    border-radius: 30px;
    text-align: center;
    margin-top: 5px;
}





@media (max-width:768px){
    .grid_container{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";
        }

        .header{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .header_logo{
            transform: translate(150px)
        }
        .nav{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .img_portada{
            width: 90%
        }
        .main_text{
            display: flex;
            flex-direction: column;
        }
        .main_productos{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 10px;
            width: 50%;
        }
            
        .footer{
            display: flex;
            flex-direction: column;
        }
        .footer_container{
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .form_container{
            min-width: 100%;
        }
}