$color-primario: #fbb5bf;
$color-secundario: #d7c89d;
$separador: #eee;
$color_linknav: #514f4f;
$vidrioefecto: linear-gradient(135deg, rgba(255,255,255,0)), rgba(255,255,255,0);
$fuente: 'Poppins', sans-serif;